<h1><%= @product.name %></h1>
<%= @product.description %>
<% if @error %>
  <%= @error %>
<% end %>
<div class="well">
  <%= form_tag buy_path(permalink: @product.permalink), :class => '', :id => 'payment-form' do %>
    <div class="row">
    </div>
    <div class="row">
      <div style="position: absolute; left: 20px">
        <label class="control-label" for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="you@example.com"/>
      </div>
      <div style="position: absolute; left: 400px">
        <label class="control-label" for="number">Card Number</label>
        <input type="text" size="20" data-stripe="number" id="number" placeholder="**** **** **** ****" pattern="[\d ]*" style="width: 18em"/>
      </div>
    </div>
    <div class="row" style="margin-top: 65px">
      <div style="position: absolute; left: 20px">
        <label class="control-label" for="cvc">CVC</label>
        <input type="text" style="width: 3em" size="3" data-stripe="cvc" id="cvc" placeholder="***" pattern="\d*"/>
        <%= image_tag "visa.png", class: "card-image" %>
      </div>
      <div style="position: absolute; left: 150px">
        <label class="control-label">Exp (MM/YYYY)</label>
        <input style="width: 2em" type="text" size="2" id="exp-month" data-stripe="exp-month" placeholder="MM" pattern="\d*"/>
        <span> / </span>
        <input style="width: 3em" type="text" size="4" id="exp-year" data-stripe="exp-year" placeholder="YYYY" pattern="\d*"/>
      </div>
    </div>
    <div class="row" style="margin-top: 70px">
      <div class="price" >Price: <%= formatted_price(@product.price) %></div>
      <div style="position: absolute; left: 400px">
        <button type="submit" class="btn btn-primary btn-large">Buy Now</button>
      </div>
    </div>
  <% end %>
</div>
