<!DOCTYPE html>
<html>
<head>
  <title>Stripe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    $(function(){
      Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
      $('#payment-form').submit(function(event) {
        var $form = $(this);
        $form.find('button').prop('disabled', true);
        Stripe.card.createToken({
          number: $('#number').val(),
          cvc: $('#cvc').val(),
          exp_month: $('#exp-month').val(),
          exp_year: $('#exp-year').val()
        }, stripeResponseHandler);
        return false;
      });
      function stripeResponseHandler(status, response) {
        var $form = $('#payment-form');
        if (response.error) {
          $form.find('.payment-errors').text(response.error.message);
          $form.find('button').prop('disabled', false);
        } else {
          var token = response.id;
          $form.append($('<input type="hidden" name="stripeToken"/>').val(token));
          $form.get(0).submit();
        }
      }
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |type, msg| %>
    <%= content_tag :p, msg, class: type %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</body>
</html>
